@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700&display=swap');

$feature-color: rgb(255, 168, 82);
$white: #fff;
$light-grey: #dedede;
$placeholder-color: #747474;

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Cairo', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 20px;
    background: $feature-color;
    color: $white;

    .navTabsBar {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;

        .tabButton {
            text-align: center;
            padding: 5px 10px;
        }

        .tabButtonActive {
            box-shadow: inset 0px 0px 6px #b1b1b1;
            background: rgb(236, 236, 236);
            color: $feature-color;
        }
    }

    .toolbar {
        display: flex;
        align-items: center;

        a {
            color: $white;
            text-decoration: none;
            margin: 0 5px;
        }

        a:hover {
            text-decoration: underline;
        }

        .language {
            display: flex;
            align-items: center;
            margin: 0 10px;

            img {
                width: 25px;
                height: 25px;
            }
        }

        .language:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    position: absolute;
    background: transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 5px;
    transition: 0.1s;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #c7c7c7;
}

.disabled {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.enabled {
    display: block;
}

.addingTask {
    border: 1px solid $placeholder-color;
}

.inactiveText {
    color: $placeholder-color;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button {
    padding: 0 10px;
    background: $feature-color;
    border: none;
    transition: 0.2s;
    color: $white;
}

.button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 6px #b1b1b1;
    background: rgb(236, 236, 236);
    color: $feature-color;
}

.inactiveButton {
    display: flex;
    height: 20px;
    padding: 5px;
    margin: 0 2px;
    border-radius: 5px;
    position: relative;
    color: #919191;
    align-items: center;
    box-shadow: inset 0px 0px 6px #b1b1b1;
    background: rgb(217 217 217);
}

.inactiveButton:hover {
    cursor: not-allowed;
}

.taskBtn {
    display: flex;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    background: $feature-color;
    align-items: center;
    transition: 0.1s;
}

input {
    font-family: 'Cairo', sans-serif;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 6px #ababab;
    outline: none;
}

textarea {
    font-family: 'Cairo', sans-serif;
    resize: none;
}

.animationsList {

    @keyframes spawningFade {
        from {
            opacity: 0;
            background: $feature-color;
        }

        to {
            opacity: 1;
            background: $white;
        }
    }

    @keyframes swipe {
        from {
            opacity: 0;
            transform: translateX(200px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.toDoList {
    padding: 0 10px;

    &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        .searchForm {
            .searchTask {
                display: flex;
                justify-content: center;

                .taskInput {
                    width: 650px;
                    height: 40px;
                    font-size: 30px;
                    padding: 10px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                .searchTaskButton {
                    font-size: 25px;
                }

                .cancelSearchButton {
                    border-radius: 0;
                    font-size: 35px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }

    &__body {

        .adderAndFilters {
            margin-bottom: 10px;

            .tasksActions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                animation-name: swipe;
                animation-duration: 0.5s;
                animation-fill-mode: backwards;

                .addTaskForm {
                    display: flex;

                    .addTaskButton {
                        border-radius: 5px;
                    }
                }

                .taskFilters {
                    padding: 0 10px;

                    .filter {
                        color: $feature-color;
                        padding: 0 10px;
                        transition: 0.2s;
                    }

                    .filter:hover {
                        cursor: pointer;
                        color: $light-grey;
                    }
                }
            }
        }

        .mainContentContainer {
            padding: 10px 0;

            .taskList {
                animation-name: swipe;
                animation-duration: 0.5s;
                animation-fill-mode: backwards;

                .noTasks {
                    margin-top: 15%;

                    .noTasksInfo {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 235px;
                        }

                        span {
                            margin-top: 15px;
                            width: 390px;
                            text-align: center;
                            font-size: 25px;
                            color: $placeholder-color;
                        }
                    }
                }


            }

            .task {

                .taskSave {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }

                &__header {
                    position: relative;

                    .taskTitle {
                        align-items: center;
                    }

                    .taskTitleEditor {
                        width: 100%;
                        box-sizing: border-box;
                        max-height: 220px;
                        color: #747474;
                        overflow: hidden;
                        outline: none;
                        font-size: 22px;
                        font-weight: bold;
                        padding: 0 5px;
                        resize: none;
                        border: none;
                    }

                    .titleCounter {
                        position: absolute;
                        bottom: 5px;
                        left: 5px;
                        font-size: 12px;
                    }

                    .taskTitleText {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding: 0 5px;
                        font-size: 22px;
                    }

                    .taskTitleText:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    &__toolBar {
                        position: absolute;
                        top: 5px;
                        right: 10px;
                        display: flex;

                        div {
                            margin: 0 2.5px;
                        }
                    }

                }

                &__body {
                    position: relative;
                    max-height: 165px;
                    overflow: hidden;

                    .taskDescrEditor {
                        width: 98.9%;
                        min-height: 60px;
                        max-height: 150px;
                        color: $placeholder-color;
                        font-size: 16px;
                        overflow-y: scroll;
                        outline: none;
                        padding: 0 5px;
                        resize: none;
                        border: none;
                    }

                    .descrCounter {
                        position: absolute;
                        bottom: 0;
                        left: 5px;
                        font-size: 12px;
                    }

                    .taskDescrText {
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        padding: 0 5px;
                        overflow: hidden;
                    }
                }


                &__footer {
                    position: relative;

                    .taskConfirmAdding {
                        position: absolute;
                        right: 0px;
                        padding: 5px 20px;
                        bottom: -45px;
                    }

                    .taskCancelAdding {
                        position: absolute;
                        padding: 5px 20px;
                        right: 110px;
                        bottom: -45px;
                    }
                }
            }

            .taskListView {
                position: relative;
                padding: 5px;
                max-height: 350px;
                margin-top: 15px;
                background: #fff;
                border: 1px solid #cdcdcd;
                border-radius: 10px;
                // animation-name: spawningFade;
                // animation-duration: 0.8s;
                // animation-fill-mode: forwards;
            }

            .taskBoardView {
                position: relative;
                padding: 15px;
                margin: 15px 15px;
                width: 200px;
                min-height: 150px;
                max-height: 350px;
                margin-top: 15px;
                background: #fff;
                border: 1px solid #cdcdcd;
                border-radius: 10px;
                animation-name: spawningFade;
                animation-duration: 0.8s;
                animation-fill-mode: forwards;
            }

            .taskGroups {
                display: flex;
                animation: swipe 0.5s backwards;
                border-bottom: 1px solid #dedede;

                .groupsTitle {
                    color: #ababab;
                    font-weight: bold;
                    margin-top: 10px;
                    font-size: 25px;
                }

                .groupsAndAdder {
                    width: 40%;
                    padding-right: 15px;
                    border-right: 1px solid #dedede;


                    .groups {
                        min-height: 800px;
                        max-height: 800px;
                        overflow-y: scroll;
                        padding-right: 15px;
                    }

                    .addNewGroup {
                        display: flex;
                        padding-bottom: 20px;
                        border-bottom: 1px solid #dedede;

                        .groupNameInput {
                            height: 15px;
                            font-size: 20px;
                            padding: 10px;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                        .addNewGroupButton {
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }

                        .addNewGroupButton span {
                            font-size: 30px;
                            font-weight: bolder;
                        }
                    }

                }

                .tasksInGroup {
                    width: 60%;
                    min-height: 500px;
                    margin-left: 15px;
                    max-height: 800px;
                    min-height: 800px;

                    .noGroupTasks {
                        text-align: center;
                        animation: swipe 0.4s forwards;

                        img {
                            width: 175px;
                        }

                        p {
                            text-align: center;
                            font-size: 21px;
                            color: $placeholder-color;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            text-overflow: ellipsis;
                            overflow: hidden;

                            span {
                                text-decoration: underline;
                            }
                        }
                    }

                    .groupTasksActions {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 30px;
                        padding-bottom: 24px;
                        border-bottom: 1px solid $light-grey;

                        .addingTasksMenu {
                            position: absolute;
                            top: 110px;
                            right: 245px;
                            background: #fff;
                            z-index: 2;
                            min-width: 200px;
                            min-height: 50px;
                            border: 1px solid #dedede;
                            border-radius: 5px;
                            box-shadow: 4px 5px 3px #dadada;

                            .tasksMenuHeader {
                                background: $light-grey;
                                display: flex;
                                flex-direction: row-reverse;
                                height: 20px;
                            }

                            .tasksMenuBody {
                                padding: 10px 0 10px 10px;
                                border-top: none;
                                max-height: 400px;
                                overflow-y: scroll;

                                .groupAddingTask {
                                    width: 300px;
                                    padding: 5px;
                                    border-bottom: 1px solid #dedede;
                                    transition: 0.2s;

                                    .groupAddingTaskTitle {
                                        font-size: 20px;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        overflow: hidden;
                                    }

                                    .groupAddingTaskDescr {
                                        font-size: 14px;
                                        color: #747474;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        -webkit-line-clamp: 1;
                                        overflow: hidden;
                                    }
                                }

                                .groupAddingTask:hover {
                                    background: #f4f4f4;
                                    cursor: pointer;
                                }

                                .existTaskInGroup {
                                    width: 300px;
                                    padding: 5px;
                                    border-bottom: 1px solid #d6d6d6;
                                    transition: 0.2s;
                                }
                            }
                        }

                        .searchTaskInGroup {
                            display: flex;
                            align-items: center;
                            padding: 15px 10px;
                            height: 5px;
                            border-radius: 5px;
                            box-shadow: inset 0px 0px 6px #ababab;

                            input {
                                height: 15px;
                                font-size: 20px;
                                box-shadow: none;
                                border-radius: 0;
                                background: transparent;
                            }

                            span {
                                color: $feature-color;
                                font-size: 20px;
                            }
                        }

                        .groupTasksButtons {
                            .addTaskToGroupBtn {
                                border-radius: 5px;
                                font-size: 25px;
                                padding: 1px 4px;
                                transition: 0.1s;
                            }
                        }
                    }
                }

                .groupTasksList {
                    min-height: 500px;
                    max-height: 830px;
                    padding: 0 15px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    animation: swipe 0.4s forwards;
                }

                .groupTasksInfo {
                    p {
                        font-size: 21px;

                        span {
                            text-decoration: underline;
                            font-weight: 600;
                            margin-left: 6px;
                        }
                    }
                }
            }

            .centeredContent {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                p {
                    font-size: 25px;
                }
            }

            .tasksGroup {
                position: relative;
                border: 1px solid #dedede;
                border-radius: 5px;
                padding: 10px;
                margin-top: 10px;
                transition: 0.2s;
                background: #fff;

                .groupInfo {
                    &__header {
                        position: relative;
                    }

                    .groupBtn {
                        display: flex;
                        height: 20px;
                        padding: 5px;
                        border-radius: 5px;
                        position: relative;
                        background: rgb(255, 168, 82);
                        align-items: center;
                        transition: 0.1s;
                    }

                    .groupBtn:hover {
                        background: rgb(236, 236, 236);
                    }

                    &__toolbar {
                        display: flex;
                        position: absolute;
                        right: 0;

                        div {
                            margin: 0 2.5px;
                        }
                    }

                    &__body {
                        .groupNameEditor {
                            width: 100%;
                            box-sizing: border-box;
                            max-height: 220px;
                            color: #747474;
                            overflow: hidden;
                            outline: none;
                            font-size: 16px;
                            resize: none;
                            border: none;
                            transition: 0.2s;
                        }
                    }

                    .groupSaveBtn {
                        display: flex;
                        position: absolute;
                        bottom: -35px;
                        right: 0;
                    }
                }

                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .tasksGroup:hover .groupNameEditor {
                background: #f4f4f4;
            }

            .tasksGroup:hover {
                cursor: pointer;
                background: #f4f4f4;
            }

            .currentGroup {
                box-shadow: inset 5px 0px 2px rgb(255 168 82);
            }
        }
    }
}